.Main-background {
  width:100%;
  height:auto;
}

body, html {
  height: 100%;
  margin: 0;
}

.react-bs-table-container .row{
  padding:0px;
  margin:0px;
}

div .container-fluid{
  padding-left:0px;
  padding-right:0px;
}

div.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center{
  padding-right:0px;
  padding-left:0px;
}

.home-page{
  background-image:url("./assets/backgroundImg.jpeg");
  display:flex;
  background-position:center;
  background-attachment:fixed;
  align-items:center;
  justify-content:center;
  height: 100vh;
}