/*.App {
  text-align: center;
}*/



.Main-background {
  width:100%;
  height:auto;
}


body, html {
  height: 100%;
  margin: 0;
 /* overflow:hidden;*/
}

.react-bs-table-container .row{
  padding:0px;
  margin:0px;
}


div .container-fluid{
  padding-left:0px;
  padding-right:0px;
}


.home-page{
  background-image:url("./assets/backgroundImg.jpeg");
  display:flex;
  background-position:center;
  background-attachment:fixed;
  align-items:center;
  justify-content:center;
  height: 100vh;
}

/*
button#pageDropDown.btn.btn-default.btn-secondary.dropdown-toggle{
  ovdje promijeniti padajući izbornik sa paginacijom  
} */

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}*/
/*sve iznad obrisati osim main background  */
